body {
  background-image: url("https://images7.alphacoders.com/400/thumb-1920-400623.jpg")
}

.donut {
  padding: 10px;
  /* display: inline-block;
  position: center; */
  /* background-image: url("https://i.pinimg.com/originals/83/05/94/8305940d6d4ea3f5e89480d4fc081ad2.jpg"); */
  background-position: center;
  /* background-size: 500px; */
  width: 200px;
  height:280px;
  border: 3px dotted white;
  text-align: center;
  margin-left: 300px;
  margin-right: 1000px;
  margin-top: 200px;
  border-radius: 50px;
}

.clock {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
}

.tab {
  text-align: center;
  display: inline-block;
}

.tab-title {
  display: flex;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.tab-title h1 {
  padding: 15px;
  border-top: 2px dotted white;
  border-left: 2px dotted white;
  border-right: 2px dotted white;
  border-radius: 8px;
  color: white;
}

.tab-content {
  border-left: 2px dotted white;
  border-right: 2px dotted white;
  border-bottom: 2px dotted white;
  padding: 100px;
  display: inline-block;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}